@model Sfw.Football.Models.StandingsModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SFW Wednesday Football League</h1>
</div>

<div class="col-md-4 col-md-offset-4">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Position</th>
                <th>Player</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AllPlayers.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Html.DisplayFor(m => m.AllPlayers.ElementAt(i).Name)</td>
                    <td>@Html.DisplayFor(m => m.AllPlayers.ElementAt(i).Rating)</td>
                </tr>
            }
        </tbody>
    </table>
</div>