@using GridMvc.Html
@model Sfw.Football.Models.TeamDisplayModel

@{
    ViewBag.Title = "Team Display";
}

@if (Model.Team1 != null && Model.Team1.Any() && Model.Team2 != null && Model.Team2.Any())
{
    <h1>Team 1</h1>
    @Html.Grid(Model.Team1).Named("team1Grid").Columns(columns =>
{
    columns.Add(p => p.Id, true);
    columns.Add(p => p.Name).Titled("Name");
})
    <hr />
    <h1>Team 2</h1>
    @Html.Grid(Model.Team2).Named("team2Grid").Columns(columns =>
{
    columns.Add(p => p.Id, true);
    columns.Add(p => p.Name).Titled("Name");
})
}

