
@{
    ViewBag.Title = "Index";
}

<h2>Hello, @(User.Identity.Name)!</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <p>
        <button type="submit" class="btn btn-lg btn-primary">Change password</button>
    </p>
}

<p>
    <a href="@Url.Action("logout", "auth")">Log out</a>
</p>