
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<p>Operation completed successfully.</p>

<button class="btn btn-lg btn-primary">Continue</button>

<p>
    <a href="@Url.Action("logout", "auth")">Log out</a>
</p>

